<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.olx">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Olx"
        tools:targetApi="31">
        <activity
            android:name=".Filters"
            android:exported="false" />
        <activity
            android:name=".advertisement.AdvertisementDetails"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".advertisement.AddImage"
            android:exported="false" />
        <activity
            android:name=".advertisement.Favorite"
            android:exported="false" />
        <activity
            android:name=".profile.Edit"
            android:exported="false" />
        <activity
            android:name=".advertisement.YourAdvertisements"
            android:exported="false" />
        <activity
            android:name=".advertisement.AddAdvertisement"
            android:exported="false" />
        <activity
            android:name=".profile.UserPanel"
            android:exported="false" />
        <activity
            android:name=".profile.Register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>